---
title: Installing an artifact with a custom POM
author: 
  - Allan Ramirez
date: 2009-03-22
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Installing an artifact with a custom POM

The Apache Maven Install Plugin can include a pre-built custom POM with the artifact in the local repository.

Set the `pomFile` parameter to the path of the custom POM.

```unknown
mvn ${project.groupId}:${project.artifactId}:${project.version}:install-file -Dfile=path-to-your-artifact-jar -DpomFile=path-to-pom
```

If the JAR was built by Apache Maven, it contains a pom.xml in a subfolder of the META-INF directory. Maven reads this pom.xml by default.

In that case, run only the following command:

```unknown
mvn ${project.groupId}:${project.artifactId}:${project.version}:install-file -Dfile=<path-to-file>
```

**Note**: Use the fully qualified path of a goal. This ensures that you use the preferred version of the maven-install-plugin. When you use `mvn install:install-file`, the plugin version depends on the POM or the Apache Maven version.
