---
title: Installing an artifact to a specific local repository path
author: 
  - Vincent Siveton
  - Robert Scholte
date: 2013-07-20
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# Installing an artifact to a specific local repository path

For general information, see the [Guide to installing 3rd party JARs](http://maven.apache.org/guides/mini/guide-3rd-party-jars-local.html).

By default, the Install Plugin uses the local repository defined in the `settings.xml` file.

To install the artifact in a specific local repository, set the `localRepositoryPath` parameter.

```unknown
mvn ${project.groupId}:${project.artifactId}:${project.version}:install-file  -Dfile=path-to-your-artifact-jar \
                                                                              -DgroupId=your.groupId \
                                                                              -DartifactId=your-artifactId \
                                                                              -Dversion=version \
                                                                              -Dpackaging=jar \
                                                                              -DlocalRepositoryPath=path-to-specific-local-repo
```

**Note**: Use the fully qualified path of a goal. This ensures that you use the preferred version of the maven-install-plugin. When you use `mvn install:install-file`, the plugin version depends on the POM or the Apache Maven version.
